<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="SoundBoard" value="False" />
    <add key="PlayList" value="False" />
    <add key="TrackSelection" value="False" />
    <add key="OnlineSync" value="False" />
    <add key="SoundEffects" value="True" />
    <add key="AutoConsoleOpen" value="New" />
    <add key="Play" value="Add" />
    <add key="Next" value="Multiply" />
    <add key="Previous" value="Divide" />
    <add key="Ready" value="Subtract" />
    <add key="MordhauInputIniLocation" value="C:\Program Files (x86)\Steam\steamapps\common\Mordhau\Mordhau\Config" />
    <add key="OpenConsole" value="Next" />
    <add key="UserSavedConsoleKey" value="Next" />
    <add key="NoteConversionMode" value="1" />
    <add key="LowestNoteId" value="0" />
    <add key="AvaliableNoteCount" value="25" />
    <add key="NoteCooldown" value="30" />
    <add key="MainWindowPos" value="0|0" />
    <add key="SoundBoardPos" value="0|0" />
    <add key="PlayListPos" value="0|0" />
    <add key="TrackSelectionPos" value="0|0" />
    <add key="DebugMode" value="False" />
    <add key="Version" value="2.0" />
  </appSettings>
</configuration>